# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Awfuljam/Assets/Scenes/Scene1.unity
Awfuljam/Assets/Models/Materials/No Name.mat
Awfuljam/Assets/Models/Materials/No Name.mat.meta
Awfuljam/Assets/Standard Assets/Effects/ImageEffects/Textures/NoiseEffectGrain.png.meta
Awfuljam/Assets/Standard Assets/Effects/ImageEffects/Textures/NoiseEffectGrain.png.meta
Awfuljam/Assets/Scenes/Scene1.unity
